---
Language: Cpp
AlignAfterOpenBracket: BlockIndent
AlignConsecutiveMacros: Consecutive
AlignOperands: AlignAfterOperator
AllowShortIfStatementsOnASingleLine: false
BreakBeforeBinaryOperators: NonAssignment
BreakBeforeBraces: WebKit # break before braces only for functions
ColumnLimit: 0
ContinuationIndentWidth: 4
Cpp11BracedListStyle: false
IndentCaseLabels: false
IndentWidth: 4
PointerAlignment: Right
RemoveSemicolon: true
SpaceAfterTemplateKeyword: false
SpaceBeforeCpp11BracedList: true
SpaceBeforeCtorInitializerColon: true
SpaceBeforeInheritanceColon: true
SpaceBeforeRangeBasedForLoopColon: true
UseTab: Never
